<div class="container text-align-center align-item-center">
    <h2 class="text-align-center">Subscribe</h2>
    <P>Take your design plan to get access to our library</P>
    <div>
        <button type="button" class="btn btn-outline-primary btn-view" data-bs-toggle="modal" data-bs-target="#planModal">
  Add Plan
</button>
        <div class="row justify-content-center mt-5">
            <div class="card col-md-2 plan-card align-item-center" *ngFor="let paymentPlan of paymentPlans">

                <div class="paymentplans mt-5">

                    <h3 class=""> <strong>{{paymentPlan.name}}</strong> </h3>
                    <h4 class=""> Ksh :<strong>{{paymentPlan.paymentAmount}}</strong>
                    </h4>
                    <h6 class=""> <strong>{{paymentPlan.paymentDuration}}</strong> </h6>
                    <p>{{paymentPlan.description}}</p>

                    <div>

                        <button type="submit " class=" mt-2 button-3" data-bs-toggle="modal" data-bs-target="#subscriptionModal">Pay</button>

                    </div>




                </div>


            </div>



        </div>
    </div>
    <!-- Modal to create or update  payment plan  -->
    <div class="modal fade" id="subscriptionModal" tabindex="-1" role="dialog" aria-labelledby="subscriptionModalTitle" aria-hidden="true" *ngIf="paymentPlan">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Payment Details</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
                </div>
                <form name="paymentRequestForm" [formGroup]="paymentRequestForm" (ngSubmit)="initiatePayment()" role="form">


                    <div class="modal-body">
                        <div class=" form-group">
                            <label for="phoneNumber"> PhoneNumber</label>
                            <!-- <input class="form-control" type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="paymentRequest.phoneNumber"> -->
                            <input class="form-control" type="text" name="phoneNumber" formControlName="phoneNumber">
                        </div>




                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="planModal" tabindex="-1" role="dialog" aria-labelledby="planModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        {{planId ? 'Edit' : 'Add'}} Payment plan</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
                </div>

                <div class="modal-body">
                    <form name="bookForm" [formGroup]="paymentPlanForm" role="form" (ngSubmit)="save()">

                        <div class="form-group">
                            <label for="name">Name</label>
                            <input class="form-control" type="text" name="name" formControlName="name">
                        </div>
                        <div class=" form-group">
                            <label for="paymentAmount">Amount</label>
                            <input class="form-control" type="text" name="paymentAmount" formControlName="paymentAmount">
                        </div>
                        <div class=" form-group">
                            <label for="paymentDuration">Duration</label>
                            <!-- <input class="form-control" type="text" name="paymentDuration" formControlName="paymentDuration"> -->
                            <select class=" form-control form-select form-select-sm" name="paymentDuration" formControlName="paymentDuration" aria-label=".form-select-sm example">
                              <option *ngFor="let pay of paymentDurations" [value]="pay">
                                {{duration2LabelMapping[pay]}}
                            </option>

                            </select>

                        </div>
                        <div class="form-group">
                            <ul class="list-group">
                                <label for="description">Description</label>
                                <li class="list-group-item"> <textarea class="form-control" name="description" formControlName="description" rows="3"></textarea>
                                </li>
                                <li> <textarea class="form-control" name="description" formControlName="description" rows="3"></textarea>
                                </li>

                            </ul>

                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="save()">submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to get phone number -->