<div class="container-fluid base-page flex flex-col items-center" *ngIf="book">
  <div class="lg:w-[70%] w-full">
    <div class="flex p-4">
      <div class="mb-4 overflow-hidden rounded-2xl">
        <img
          class="object-cover cursor-pointer h-[400px] w-[280px] rounded-2xl group-hover:scale-110"
          src="{{ book.imageUrl || book.bookImageUrl }}"
        />
      </div>
      <div class="px-4 w-[60%]">
        <h1 class="text-4xl font-bold mb-4">{{ book.title }}</h1>
        <h2 class="text-2xl mb-4">{{ book.author }}</h2>
        <h3 class="text-xl font-light mb-4 max-h-[10%]">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using 'Content here, content here', making it
          look like readable English. Many desktop publishing packages and web
          page editors now use Lorem Ipsum as their default model text, and a
          search for 'lorem ipsum' will uncover many web sites still
        </h3>
        <div class="flex gap-2">
          <button class="base-btn py-2">Read</button>
        </div>
      </div>
    </div>
  </div>
</div>
