<div class="container">
    <button type="button" data-toggle="modal" data-bs-toggle="modal" data-bs-target="#createTopicModal" class="btn-category-add float-end"><i
    class="fa fa-plus"></i> Add Category</button>
    <div class="row">

        <div class=" col-md-2" *ngFor="let category of categories" [routerLink]="['/categories/',category.id]">
            <div class="books">
                <img class="img-thumbnail" src="../../assets/images/" alt="./assets/images/billionare.jpeg" />
                <div class=" row ">
                    <label class="" for="id "><strong>Category id:</strong> </label>
                    <p class="">{{category.id}}</p>
                </div>
                <div class="row ">
                    <label class=" " for="name"><strong>Name:</strong> </label>
                    <p class=" ">{{category.name}}</p>
                </div>
                <div class="row ">
                    <label class="" for="name"><strong>Parent:</strong></label>
                    <p class="">{{category.parentCategoryId}}</p>
                </div>



            </div>
        </div>
    </div>
</div>

<!-- Create Topic Modal -->
<div class="modal fade" id="createTopicModal" tabindex="-1 " aria-labelledby="createTopicModal" aria-hidden="true ">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title " id="exampleModalLabel ">Create Course</h5>
                <button type="button " class="btn-close " (click)="reset() " data-dismiss="modal " aria-label="Close "></button>
            </div>
            <div class="modal-body ">
                <form name="categoryForm" [formGroup]="categoryForm" (ngSubmit)="saveCategory() ">

                    <div class="form-group row ">
                        <div class="col-md-12 ">
                            <label class="form-control-label " for="fieldName ">Name</label>

                            <input type="text " class="form-control " id="fieldName " name="fieldName " placeholder="Category name " formControlName="name" />
                        </div>
                    </div>

                    <div class="form-group row mt-2 ">
                        <div class="col-md-12 ">
                            <label class="form-control-label " for="fieldDescription ">Description</label>

                            <textarea class="form-control " id="fieldDescription " name="fieldDescription " placeholder="Briefly describe the course for our new students " formControlName="description"></textarea>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer ">
                <button id="closeCreateCategoryModal" type="button " class="btn btn-cancel " data-bs-dismiss="modal" (click)="reset() ">CANCEL</button>
                <button type="submit " class="btn btn-submit" (click)="saveCategory()" data-bs-dismiss="modal">SUBMIT</button>
            </div>
        </div>
    </div>
</div>


<!-- Create Category Modal
<div class="modal fade" id="create-category" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Category</h5>
                <!-- <h5  class="modal-title" id="staticBackdropLabel">Suspend Publisher</h5> -->
<!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <form>
                        <div>
                            <label for="name">Name</label>
                            <input [(ngModel)]="category.name" id="name" name="name" type="text" class="category-form-control">
                        </div>
                        <!-- <div class="mt-3">
                          <label for="name">Levels</label>
                          <input [(ngModel)]="levels" id="name" name="levels" placeholder="Comma separated eg beginner,intermediate,expert" type="text" class="category-form-control">
                      </div> -->
<!-- </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button (click)="createCategory()" type="button" class="btn-category-add" data-bs-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div> -->--> -->

<!-- Edit Category Modal -->
<!-- <div class="modal fade" id="edit-category" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Edit Category - {{selectedCategory?.name}}</h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div>
                  <div class="mb-3">
                      <input [(ngModel)]="levelName" placeholder="separate with comma to send multiple" id="level-name" name="level-name" type="text" class="add-level-input">
                      <button type="button" (click)="addLevel()" class="add-level-button">Add Level</button>
                  </div>
                  <p class="level-tag" *ngFor="let level of selectedCategory?.levels">{{level}} <span (click)="removeLevel(level)" class="cancel">x</span></p>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button (click)="updateCategory()" type="button" class="btn-category-add" data-dismiss="modal">Confirm</button>
          </div>
      </div>
  </div>
</div> -->
