<nav class="bg-[#1d4504ec]">
  <div
    *ngIf="user && r?.url != '/'"
    class="p-2 flex justify-between items-center"
  >
    <img
      [routerLink]="['/']"
      class="h-[40px] cursor-pointer"
      href="/"
      src="../../assets/images/dkutlogo.png"
    />
    <div class="flex gap-4">
      <p
        *ngIf="currentURL !== '/'"
        [routerLink]="['/']"
        [ngClass]="currentURL == '/' ? 'font-bold underline' : ''"
        class="text-white cursor-pointer hover:underline"
      >
        Home <i class="fa-solid fa-house"></i>
      </p>
      <p
        *ngIf="user.authority == 'ADMIN'"
        [routerLink]="['/book-records']"
        [ngClass]="currentURL == '/book-records' ? 'font-bold underline' : ''"
        class="text-white cursor-pointer hover:underline"
      >
        Dashboard <i class="fa fa-bookmark" aria-hidden="true"></i>
      </p>
      <p
        [routerLink]="['/categories']"
        [ngClass]="currentURL == '/categories' ? 'font-bold underline' : ''"
        class="text-white cursor-pointer hover:underline"
      >
        Categories <i class="fa fa-list" aria-hidden="true"></i>
      </p>
      <p
        [routerLink]="['/subscribe']"
        [ngClass]="currentURL == '/subscribe' ? 'font-bold underline' : ''"
        class="text-white cursor-pointer hover:underline"
      >
        Subscribe <i class="fa fa-star" aria-hidden="true"></i>
      </p>
    </div>
    <div
      class="group bg-white p-2 rounded-full cursor-pointer"
      [routerLink]="['/profile']"
    >
      <!-- <i class="fa-solid fa-user p-3"></i> -->
      <img
        class="w-[30px] h-[30px] group-hover:scale-110"
        src="https://avatars.dicebear.com/api/bottts/mary.svg"
      />
    </div>
  </div>
</nav>
