.logo {
    margin-left: 30px;
    background-color: inherit;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
}

.user {
    float: right;
    margin-right: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar {
    background-color: rgba(29, 69, 4, 0.924);
    height: 80px;
}

#navbarTogglerDemo02 ul li a {
    text-decoration: black;
    color: white;
}

.button1 {
    background-color: rgba(29, 69, 4, 0.924);
    border: 0px;
    color: aliceblue;
    margin-top: 10px;
    box-shadow: inset;
}