<div
  class="relative flex-col flex items-center justify-center w-full bg-white base-page"
>
  <button
    (click)="logOut()"
    class="absolute top-[10px] right-[10%] base-btn py-2 px-4 bg-red-500 text-base"
  >
    LogOut
  </button>
  <div class="flex flex-col items-center justify-center">
    <img
      class="w-[50px] h-[50px]"
      src="https://avatars.dicebear.com/api/bottts/mary.svg"
    />
    <p>Hello</p>
    <p class="text-xl font-bold">{{ user.name }}</p>
  </div>
  <div class="shadow-xl m-3 mb-4 p-3 rounded-2xl shadow-black-500/50 w-[400px]">
    <p class="text-2xl font-bold text-center mb-2">Personal Details</p>
    <div class="mb-2">
      <p class="text-sm font-light">Name</p>
      <p class="text-lg">{{ user.name }}</p>
    </div>
    <div class="mb-2">
      <p class="text-sm font-light">Email</p>
      <p class="text-lg">{{ user.email }}</p>
    </div>
  </div>

  <div class="grid grid-cols-4 flex gap-2 items-center justify-between">
    <div
      class="shadow-lg m-3 p-3 rounded-2xl shadow-black-500/50 w-[400px] max-h-[400px] overflow-y-scroll"
    >
      <p class="text-2xl font-bold text-center mb-2">Borrowed Books</p>
      <div *ngFor="let book of borrowedBooks" class="mb-4">
        <div class="mb-2">
          <p class="text-lg font-bold">{{ book.book?.title }}</p>
        </div>
        <div class="grid grid-cols-3">
          <div class="mb-2">
            <p class="text-sm font-light">Borrowed on</p>
            <p class="text-lg">{{ book.createdOn }}</p>
          </div>
          <div class="mb-2">
            <p class="text-sm font-light">Return By</p>
            <p class="text-lg">{{ book.dueDate || "None" }}</p>
          </div>
          <div class="mb-2">
            <p class="text-sm font-light">Fine</p>
            <p class="text-lg text-bold text-red-500">
              {{ book.book?.fine || "0" }} ksh
            </p>
          </div>
        </div>
        <hr class="w-full h-[2px] bg-black" />
      </div>
    </div>

    <div
      class="shadow-lg m-3 p-3 rounded-2xl shadow-black-500/50 w-[400px] max-h-[400px] overflow-y-scroll"
    >
      <p class="text-2xl font-bold text-center mb-2">Returned Books</p>
      <div *ngFor="let book of returnedBooks" class="mb-4">
        <div class="mb-2">
          <p class="text-lg font-bold">{{ book.book?.title }}</p>
        </div>
        <div class="grid grid-cols-3">
          <div class="mb-2">
            <p class="text-sm font-light">Return On</p>
            <p class="text-lg">{{ book.createdOn || "None" }}</p>
          </div>
        </div>
        <hr class="w-full h-[2px] bg-black" />
      </div>
    </div>

    <div
      class="shadow-lg m-3 p-3 rounded-2xl shadow-black-500/50 w-[400px] max-h-[400px] overflow-y-scroll"
    >
      <p class="text-2xl font-bold text-center mb-2">Payments</p>
      <div *ngFor="let payment of payments" class="mb-4">
        <div class="grid grid-cols-3">
          <div class="mb-2">
            <p class="text-sm font-light">ID</p>
            <p class="text-lg">{{ payment.id }}</p>
          </div>
          <div class="mb-2">
            <p class="text-sm font-light">Amount</p>
            <p class="text-lg">{{ payment.amount }} ksh</p>
          </div>
          <div class="mb-2">
            <p class="text-sm font-light">Date</p>
            <p class="text-lg">{{ payment.initiatedOn }}</p>
          </div>
        </div>
        <hr class="w-full h-[2px] bg-black" />
      </div>
    </div>
  </div>
</div>
