<div class="row">
    <div class="card col-md-5 texty">
        <div class="row mt-5">
            <label for="Email"> <strong>Email :</strong> {{user.email}}</label>

        </div>
        <div class="row">
            <label for="name"> <strong>Name :</strong> {{user.name}}</label>

        </div>
        <div class="row">
            <label for="password"> <strong>Password :</strong> {{user.password}}</label>

        </div>

    </div>
    <div class="card col-md-6 profile">
        <img src="/assets/images/prof.jpg">



    </div>

</div>