<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <h2></h2>
      <div class="row mt-5">
        <div class="col-md-3">
          <img class="logo" src="../../assets/images/dkutlogo.png" alt="logo" />
        </div>

        <div class="col-md-3 quicklinks">
          <h4 class="cursor-pointer hover:underline">Contacts</h4>
          <div class="flex flex-col gap-3">
            <label for="">Email : librarian@dkut.ac.ke</label>
            <label for="">Phone : +254-724-245-756</label>
            <p>
              <i class="fa-solid fa-location-dot"></i> Along Nyeri-Mweiga
              Road<br />
              Dedan Kimathi University of Tecnology
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <h4 class="cursor-pointer hover:underline text-l">Open Hours</h4>
          <div class="flex flex-col gap-3">
            <label for="">Week days : 8:00am – 9:00pm</label>
            <label for="">Saturday : 9:00am – 4:00pm</label>
            <label for="">Sundays & Holidays : Closed</label>
          </div>
        </div>

        <div class="col-md-3">
          <div class="social-links">
            <h4 class="cursor-pointer hover:underline">Follow us</h4>
            <a href="https://twitter.com/DeKUTkenya" target="_blank">
              <span> <i class="fa-brands fa-twitter"></i></span> Twitter
            </a>
            <br />
            <a
              href="https://www.linkedin.com/school/dedan-kimathi-university-of-technology/"
              target="_blank"
            >
              <span> <i class="fa-brands fa-linkedin"></i></span> Linked in
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->
